n8n/backup/workflows/Freshservice_Reporting_Agent.json
{
  "name": "Freshservice Reporting Agent (Unresolved, SLA, Aging)",
  "nodes": [
    {
      "parameters": {
        "toRecipients": "eugene.amedior@margins-id.com",
        "subject": "=Freshservice Ticket Reports (Excel + Word) - {{ $('Set Config1').first().json.report_date }}",
        "bodyContent": "=Please find attached the Freshservice unresolved tickets reports for {{ $('Set Config1').first().json.report_date }}.\n\nAttachments:\n- Excel: Full ticket list with all fields\n- Word: Summary report with key metrics and top 25 oldest tickets",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "excel"
              },
              {
                "binaryPropertyName": "word"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1456, 3280],
      "id": "783324d0-3a84-4f96-99a8-9bd90fe5e9bc",
      "name": "Send a message2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "id": "0c0795c8-f193-4044-8aa5-4aaf777301f2",
      "name": "Weekday Schedule1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-112, 3376]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"freshservice_domain\": \"{{$env.FRESHSERVICE_DOMAIN}}\",\n  \"freshservice_api_key\": \"{{$env.FRESHSERVICE_API_KEY}}\",\n  \"output_dir\": \"{{$env.FRESHSERVICE_REPORT_OUTPUT_DIR || \u0027/data/shared/reports\u0027}}\",\n  \"report_date\": \"{{$now.toISODate()}}\",\n  \"report_email_to\": \"{{$env.REPORT_EMAIL_TO || \u0027ops@example.com\u0027}}\",\n  \"report_email_from\": \"{{$env.REPORT_EMAIL_FROM || \u0027n8n-reports@example.com\u0027}}\"\n}",
        "options": {}
      },
      "id": "2a1b13d5-83d9-42e8-86ce-ca8c078d10f0",
      "name": "Set Config1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [112, 3376]
    },
    {
      "parameters": {
        "jsCode": "const config = $(\u0027Set Config1\u0027).first().json;\nconst domain = config.freshservice_domain ?? $json.freshservice_domain;\nconst apiKey = config.freshservice_api_key ?? $json.freshservice_api_key;\n\nif (!domain) {\n  throw new Error(\u0027Missing freshservice_domain in Set Config\u0027);\n}\nif (!apiKey) {\n  throw new Error(\u0027Missing freshservice_api_key in Set Config\u0027);\n}\n\nconst authHeader = \u0027Basic \u0027 + Buffer.from(`${apiKey}:X`).toString(\u0027base64\u0027);\n\nfunction isUnresolved(ticket) {\n  return [2, 3].includes(Number(ticket?.status));\n}\n\nasync function fetchAllTickets() {\n  const allTickets = [];\n  let page = 1;\n  const perPage = 100;\n\n  while (page \u003c= 200) {\n    let payload;\n    try {\n      payload = await this.helpers.httpRequest({\n        method: \u0027GET\u0027,\n        url: `https://${domain}/api/v2/tickets`,\n        qs: {\n          per_page: perPage,\n          page\n        },\n        headers: {\n          Authorization: authHeader,\n          Accept: \u0027application/json\u0027\n        },\n        json: true\n      });\n    } catch (error) {\n      throw new Error(`Freshservice tickets API failed on page ${page}: ${error.message}`);\n    }\n\n    const tickets = payload.tickets ?? payload.results ?? [];\n    allTickets.push(...tickets);\n\n    if (tickets.length \u003c perPage) break;\n    page += 1;\n  }\n\n  return allTickets;\n}\n\nconst allTickets = await fetchAllTickets.call(this);\nconst unresolvedTickets = allTickets.filter(isUnresolved);\n\nreturn [{\n  json: {\n    tickets: unresolvedTickets\n  }\n}];"
      },
      "id": "fe392007-79e2-4ea0-b54b-167514c79a67",
      "name": "Get Unresolved Tickets1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [336, 3376]
    },
    {
      "parameters": {
        "jsCode": "const config = $(\u0027Set Config1\u0027).first().json;\nconst domain = config.freshservice_domain ?? $json.freshservice_domain;\nconst apiKey = config.freshservice_api_key ?? $json.freshservice_api_key;\n\nif (!domain) {\n  throw new Error(\u0027Missing freshservice_domain in Set Config\u0027);\n}\nif (!apiKey) {\n  throw new Error(\u0027Missing freshservice_api_key in Set Config\u0027);\n}\n\nconst authHeader = \u0027Basic \u0027 + Buffer.from(`${apiKey}:X`).toString(\u0027base64\u0027);\n\nfunction isUnresolved(ticket) {\n  return [2, 3].includes(Number(ticket?.status));\n}\n\nfunction hasSlaBreach(ticket) {\n  return Boolean(ticket?.sla_breached || ticket?.is_escalated || ticket?.fr_escalated || ticket?.escalated);\n}\n\nasync function fetchAllTickets() {\n  const allTickets = [];\n  let page = 1;\n  const perPage = 100;\n\n  while (page \u003c= 200) {\n    let payload;\n    try {\n      payload = await this.helpers.httpRequest({\n        method: \u0027GET\u0027,\n        url: `https://${domain}/api/v2/tickets`,\n        qs: {\n          per_page: perPage,\n          page\n        },\n        headers: {\n          Authorization: authHeader,\n          Accept: \u0027application/json\u0027\n        },\n        json: true\n      });\n    } catch (error) {\n      throw new Error(`Freshservice tickets API failed on page ${page}: ${error.message}`);\n    }\n\n    const tickets = payload.tickets ?? payload.results ?? [];\n    allTickets.push(...tickets);\n\n    if (tickets.length \u003c perPage) break;\n    page += 1;\n  }\n\n  return allTickets;\n}\n\nconst allTickets = await fetchAllTickets.call(this);\nconst breachedUnresolved = allTickets.filter((ticket) =\u003e isUnresolved(ticket) \u0026\u0026 hasSlaBreach(ticket));\n\nreturn [{\n  json: {\n    tickets: breachedUnresolved\n  }\n}];"
      },
      "id": "8ba1f14f-7dc3-4789-ab5b-6e0d65b4a2a8",
      "name": "Get SLA Breached Tickets1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 3376]
    },
    {
      "parameters": {
        "jsCode": "const unresolvedResponse = $items(\u0027Get Unresolved Tickets1\u0027, 0, 0)[0]?.json ?? {};\nconst config = $(\u0027Set Config1\u0027).first().json;\n\nconst domain = config.freshservice_domain ?? $json.freshservice_domain;\nconst apiKey = config.freshservice_api_key ?? $json.freshservice_api_key;\n\nif (!domain) {\n  throw new Error(\u0027Missing freshservice_domain in Set Config\u0027);\n}\nif (!apiKey) {\n  throw new Error(\u0027Missing freshservice_api_key in Set Config\u0027);\n}\n\nconst authHeader = \u0027Basic \u0027 + Buffer.from(`${apiKey}:X`).toString(\u0027base64\u0027);\nconst unresolved = unresolvedResponse.tickets ?? unresolvedResponse.results ?? [];\n\nconst now = new Date();\nconst statusMap = {\n  2: \u0027Open\u0027,\n  3: \u0027Pending\u0027,\n  4: \u0027Resolved\u0027,\n  5: \u0027Closed\u0027\n};\nconst priorityMap = {\n  1: \u0027Low\u0027,\n  2: \u0027Medium\u0027,\n  3: \u0027High\u0027,\n  4: \u0027Urgent\u0027\n};\n\nconst groupCache = new Map();\nconst agentCache = new Map();\nconst requesterCache = new Map();\nconst companyCache = new Map();\n\nfunction agingBucket(days) {\n  if (days \u003c= 2) return \u00270-2 days\u0027;\n  if (days \u003c= 7) return \u00273-7 days\u0027;\n  if (days \u003c= 14) return \u00278-14 days\u0027;\n  return \u002715+ days\u0027;\n}\n\nasync function fetchEntity(resource, id, entityKey) {\n  if (!id) {\n    return null;\n  }\n  try {\n    const payload = await this.helpers.httpRequest({\n      method: \u0027GET\u0027,\n      url: `https://${domain}/api/v2/${resource}/${id}`,\n      headers: {\n        Authorization: authHeader,\n        Accept: \u0027application/json\u0027\n      },\n      json: true\n    });\n    return payload?.[entityKey] ?? null;\n  } catch (error) {\n    return null;\n  }\n}\n\nasync function getGroupName(groupId) {\n  if (!groupId) return \u0027\u0027;\n  const key = String(groupId);\n  if (groupCache.has(key)) return groupCache.get(key);\n  const group = await fetchEntity.call(this, \u0027groups\u0027, groupId, \u0027group\u0027);\n  const name = group?.name ?? `Group #${groupId}`;\n  groupCache.set(key, name);\n  return name;\n}\n\nasync function getAgentName(agentId) {\n  if (!agentId) return \u0027\u0027;\n  const key = String(agentId);\n  if (agentCache.has(key)) return agentCache.get(key);\n  const agent = await fetchEntity.call(this, \u0027agents\u0027, agentId, \u0027agent\u0027);\n  const derivedName = agent?.name ?? agent?.contact?.name ?? [agent?.first_name, agent?.last_name].filter(Boolean).join(\u0027 \u0027).trim();\n  const name = derivedName || `Agent #${agentId}`;\n  agentCache.set(key, name);\n  return name;\n}\n\nasync function getRequester(requesterId) {\n  if (!requesterId) return null;\n  const key = String(requesterId);\n  if (requesterCache.has(key)) return requesterCache.get(key);\n  let requester = await fetchEntity.call(this, \u0027requesters\u0027, requesterId, \u0027requester\u0027);\n  if (!requester) {\n    requester = await fetchEntity.call(this, \u0027contacts\u0027, requesterId, \u0027contact\u0027);\n  }\n  requesterCache.set(key, requester);\n  return requester;\n}\n\nasync function getCompanyName(companyId) {\n  if (!companyId) return \u0027\u0027;\n  const key = String(companyId);\n  if (companyCache.has(key)) return companyCache.get(key);\n  const company = await fetchEntity.call(this, \u0027companies\u0027, companyId, \u0027company\u0027);\n  const name = company?.name ?? `Company #${companyId}`;\n  companyCache.set(key, name);\n  return name;\n}\n\nconst rows = [];\nfor (const t of unresolved) {\n  const created = t.created_at ? new Date(t.created_at) : null;\n  const ageDays = created ? Math.max(0, Math.floor((now - created) / (1000 * 60 * 60 * 24))) : null;\n  const hasFrSlaBreach = Boolean(t?.fr_escalated);\n  const hasResSlaBreach = Boolean(t?.sla_breached || t?.is_escalated || t?.escalated);\n\n  const requester = await getRequester.call(this, t.requester_id);\n  const groupName = await getGroupName.call(this, t.group_id);\n  const agentName = await getAgentName.call(this, t.responder_id);\n  const companyName = await getCompanyName.call(this, t.company_id ?? requester?.company_id);\n\n  rows.push({\n    ticket_id: t.id,\n    subject: t.subject ?? \u0027\u0027,\n    status: statusMap[t.status] ?? String(t.status ?? \u0027\u0027),\n    priority: priorityMap[t.priority] ?? String(t.priority ?? \u0027\u0027),\n    group: groupName,\n    company: companyName,\n    agent: agentName,\n    requester: (requester?.name ?? requester?.contact?.name ?? [requester?.first_name, requester?.last_name].filter(Boolean).join(\u0027 \u0027).trim()) || `Requester #${t.requester_id ?? \u0027\u0027}`,\n    created_at: t.created_at ?? \u0027\u0027,\n    due_by: t.due_by ?? \u0027\u0027,\n    fr_due_by: t.fr_due_by ?? \u0027\u0027,\n    age_days: ageDays,\n    aging_bucket: ageDays === null ? \u0027unknown\u0027 : agingBucket(ageDays),\n    fr_sla_breach: hasFrSlaBreach ? \u0027yes\u0027 : \u0027no\u0027,\n    res_sla_breach: hasResSlaBreach ? \u0027yes\u0027 : \u0027no\u0027,\n    ticket_type: t.type ?? \u0027\u0027\n  });\n}\n\nconst summary = {\n  generated_on: now.toISOString(),\n  unresolved_total: rows.length,\n  incidents_total: rows.filter((r) =\u003e r.ticket_type === \u0027Incident\u0027).length,\n  service_requests_total: rows.filter((r) =\u003e r.ticket_type === \u0027Service Request\u0027).length,\n  sla_breached_total: rows.filter((r) =\u003e r.fr_sla_breach === \u0027yes\u0027 || r.res_sla_breach === \u0027yes\u0027).length,\n  aging_0_2: rows.filter((r) =\u003e r.aging_bucket === \u00270-2 days\u0027).length,\n  aging_3_7: rows.filter((r) =\u003e r.aging_bucket === \u00273-7 days\u0027).length,\n  aging_8_14: rows.filter((r) =\u003e r.aging_bucket === \u00278-14 days\u0027).length,\n  aging_15_plus: rows.filter((r) =\u003e r.aging_bucket === \u002715+ days\u0027).length\n};\n\nreturn rows.map((row) =\u003e ({\n  json: {\n    ...row,\n    summary,\n    report_date: config.report_date\n  }\n}));"
      },
      "id": "6c0f6ca8-d96a-4154-8865-9f9c7846810a",
      "name": "Normalize and Score Tickets1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, 3376]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nreturn rows.map((item) =\u003e ({\n  json: {\n    ticket_id: item.json.ticket_id ?? \u0027\u0027,\n    subject: item.json.subject ?? \u0027\u0027,\n    status: item.json.status ?? \u0027\u0027,\n    priority: item.json.priority ?? \u0027\u0027,\n    group: item.json.group ?? \u0027\u0027,\n    company: item.json.company ?? \u0027\u0027,\n    agent: item.json.agent ?? \u0027\u0027,\n    requester: item.json.requester ?? \u0027\u0027,\n    created_at: item.json.created_at ?? \u0027\u0027,\n    due_by: item.json.due_by ?? \u0027\u0027,\n    fr_due_by: item.json.fr_due_by ?? \u0027\u0027,\n    age_days: item.json.age_days ?? \u0027\u0027,\n    fr_sla_breach: item.json.fr_sla_breach ?? \u0027\u0027,\n    res_sla_breach: item.json.res_sla_breach ?? \u0027\u0027\n  }\n}));"
      },
      "id": "caa68ff6-76db-483d-a3dd-0065e2bba986",
      "name": "Prepare Excel Rows1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 3280]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {}
      },
      "id": "cbec165f-b6fd-4837-a281-fb02127bdf92",
      "name": "Create Excel Report1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1232, 3280]
    },
    {
      "parameters": {
        "jsCode": "const excelInput = $input.first();\nconst excelBinary = excelInput?.binary?.data;\nif (!excelBinary) {\n  throw new Error(\u0027Missing Excel binary from Create Excel Report1\u0027);\n}\n\nconst rowsInput = $items(\u0027Normalize and Score Tickets1\u0027, 0, 0) ?? [];\nif (!rowsInput.length) {\n  return [];\n}\n\nconst rows = rowsInput.map((item) =\u003e item.json);\nconst summary = rows[0].summary;\nconst reportDate = rows[0].report_date || new Date().toISOString().slice(0, 10);\n\nconst top25 = rows\n  .sort((a, b) =\u003e (b.age_days ?? 0) - (a.age_days ?? 0))\n  .slice(0, 25);\n\nconst tableStyle = `\n  border-collapse: collapse;\n  width: 100%;\n  font-family: Calibri, Arial, sans-serif;\n  font-size: 11pt;\n`;\nconst thStyle = `\n  background-color: #1F4E79;\n  color: #ffffff;\n  border: 1px solid #000;\n  padding: 6px 8px;\n  text-align: left;\n`;\nconst tdStyle = `border: 1px solid #999; padding: 5px 8px;`;\nconst tdBreachedStyle = `border: 1px solid #999; padding: 5px 8px; background-color: #FFCCCC; color: #CC0000; font-weight: bold;`;\nconst tdAltStyle = `border: 1px solid #999; padding: 5px 8px; background-color: #F5F5F5;`;\n\nconst ticketRows = top25.map((t, i) =\u003e {\n  const isBreached = t.fr_sla_breach === \u0027yes\u0027 || t.res_sla_breach === \u0027yes\u0027;\n  const rowBg = i % 2 === 0 ? tdStyle : tdAltStyle;\n  const breachedCell = isBreached ? tdBreachedStyle : rowBg;\n  return `\u003ctr\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${i + 1}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${t.ticket_id ?? \u0027\u0027}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${escapeHtml(t.subject ?? \u0027\u0027)}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${t.status ?? \u0027\u0027}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${t.priority ?? \u0027\u0027}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${t.age_days ?? \u0027\u0027}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${t.aging_bucket ?? \u0027\u0027}\u003c/td\u003e\n    \u003ctd style=\"${breachedCell}\"\u003e${isBreached ? \u0027YES\u0027 : \u0027No\u0027}\u003c/td\u003e\n    \u003ctd style=\"${rowBg}\"\u003e${t.due_by ? t.due_by.slice(0, 10) : \u0027\u0027}\u003c/td\u003e\n  \u003c/tr\u003e`;\n}).join(\u0027\\n\u0027);\n\nfunction escapeHtml(str) {\n  return String(str)\n    .replace(/\u0026/g, \u0027\u0026amp;\u0027)\n    .replace(/\u003c/g, \u0027\u0026lt;\u0027)\n    .replace(/\u003e/g, \u0027\u0026gt;\u0027)\n    .replace(/\"/g, \u0027\u0026quot;\u0027);\n}\n\nconst html = `\u003chtml xmlns:o=\u0027urn:schemas-microsoft-com:office:office\u0027 xmlns:w=\u0027urn:schemas-microsoft-com:office:word\u0027 xmlns=\u0027http://www.w3.org/TR/REC-html40\u0027\u003e\n\u003chead\u003e\n  \u003cmeta charset=\u0027UTF-8\u0027\u003e\n  \u003ctitle\u003eFreshservice Ticket Report\u003c/title\u003e\n  \u003c!--[if gte mso 9]\u003e\u003cxml\u003e\u003cw:WordDocument\u003e\u003cw:View\u003ePrint\u003c/w:View\u003e\u003c/w:WordDocument\u003e\u003c/xml\u003e\u003c![endif]--\u003e\n  \u003cstyle\u003e\n    body { font-family: Calibri, Arial, sans-serif; font-size: 11pt; margin: 20px; }\n    h1 { color: #1F4E79; font-size: 18pt; }\n    h2 { color: #1F4E79; font-size: 14pt; margin-top: 20px; }\n    p { font-size: 10pt; color: #555; }\n    .summary-table { border-collapse: collapse; width: 320px; margin-bottom: 20px; font-family: Calibri, Arial, sans-serif; font-size: 11pt; }\n    .summary-table th { background-color: #2E75B6; color: #fff; border: 1px solid #000; padding: 6px 10px; text-align: left; }\n    .summary-table td { border: 1px solid #999; padding: 5px 10px; }\n    .summary-table tr:nth-child(even) td { background-color: #DEEAF1; }\n  \u003c/style\u003e\n\u003c/head\u003e\n\u003cbody\u003e\n  \u003ch1\u003eFreshservice Ticket Report\u003c/h1\u003e\n  \u003cp\u003eGenerated on: ${summary.generated_on}\u003c/p\u003e\n\n  \u003ch2\u003eSummary\u003c/h2\u003e\n  \u003ctable class=\"summary-table\"\u003e\n    \u003cthead\u003e\u003ctr\u003e\u003cth\u003eMetric\u003c/th\u003e\u003cth\u003eCount\u003c/th\u003e\u003c/tr\u003e\u003c/thead\u003e\n    \u003ctbody\u003e\n      \u003ctr\u003e\u003ctd\u003eUnresolved tickets\u003c/td\u003e\u003ctd\u003e${summary.unresolved_total}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eIncidents\u003c/td\u003e\u003ctd\u003e${summary.incidents_total}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eService Requests\u003c/td\u003e\u003ctd\u003e${summary.service_requests_total}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eSLA breached tickets\u003c/td\u003e\u003ctd\u003e${summary.sla_breached_total}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eAging 0-2 days\u003c/td\u003e\u003ctd\u003e${summary.aging_0_2}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eAging 3-7 days\u003c/td\u003e\u003ctd\u003e${summary.aging_3_7}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eAging 8-14 days\u003c/td\u003e\u003ctd\u003e${summary.aging_8_14}\u003c/td\u003e\u003c/tr\u003e\n      \u003ctr\u003e\u003ctd\u003eAging 15+ days\u003c/td\u003e\u003ctd\u003e${summary.aging_15_plus}\u003c/td\u003e\u003c/tr\u003e\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n\n  \u003ch2\u003eTop 25 Oldest Unresolved Tickets\u003c/h2\u003e\n  \u003ctable style=\"${tableStyle}\"\u003e\n    \u003cthead\u003e\n      \u003ctr\u003e\n        \u003cth style=\"${thStyle}\"\u003e#\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eTicket ID\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eSubject\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eStatus\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003ePriority\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eAge (days)\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eAging Bucket\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eSLA Breached\u003c/th\u003e\n        \u003cth style=\"${thStyle}\"\u003eDue By\u003c/th\u003e\n      \u003c/tr\u003e\n    \u003c/thead\u003e\n    \u003ctbody\u003e\n      ${ticketRows}\n    \u003c/tbody\u003e\n  \u003c/table\u003e\n\u003c/body\u003e\n\u003c/html\u003e`;\n\nreturn [{\n  json: {\n    report_date: reportDate\n  },\n  binary: {\n    excel: excelBinary,\n    word: {\n      data: Buffer.from(html, \u0027utf8\u0027).toString(\u0027base64\u0027),\n      mimeType: \u0027application/msword\u0027,\n      fileName: `freshservice-summary-${reportDate}.doc`\n    }\n  }\n}];"
      },
      "id": "109bdc31-8901-4c39-969f-900b3ee21de8",
      "name": "Create Word Summary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 3472]
    },
    {
      "parameters": {},
      "id": "090d8911-e614-472a-bff0-87a4f27e4152",
      "name": "Done1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1680, 3376]
    }
  ],
  "pinData": {},
  "connections": {
    "Send a message2": {
      "main": [
        [
          {
            "node": "Done1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekday Schedule1": {
      "main": [
        [
          {
            "node": "Set Config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config1": {
      "main": [
        [
          {
            "node": "Get Unresolved Tickets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unresolved Tickets1": {
      "main": [
        [
          {
            "node": "Get SLA Breached Tickets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SLA Breached Tickets1": {
      "main": [
        [
          {
            "node": "Normalize and Score Tickets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Score Tickets1": {
      "main": [
        [
          {
            "node": "Prepare Excel Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Excel Rows1": {
      "main": [
        [
          {
            "node": "Create Excel Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Excel Report1": {
      "main": [
        [
          {
            "node": "Create Word Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Word Summary1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "53e1071a-00b5-4180-9592-51b430686a29",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "0bbbIomTLkQR0IiS",
  "tags": []
}
